<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSMS</title>
    <link rel="shortcut icon" href="/PSMSLogo2.png" type="image/png">
    <link rel="stylesheet" href="/simple-grid.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 left">
                <img src="/PSMSLogo.png" alt="PSMS Logo" width="200" height="100">
            </div>
            <div class="col-6 right">
                <div class="dropdown">
                    <button class="btn">{{translation.LanguagePreference}}</button>
                    <div class="dropdown-content">
                        <a href="/?clang=af">Afrikaans</a>
                        <a href="/?clang=en">English</a>             
                        <a href="/?clang=xh">IsiXhosa</a>
                        <a href="/?clang=zu">IsiZulu</a>         
                        <a href="/?clang=nso">Northern Sotho</a>
                    </div>
                </div>
            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>