<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PSMS</title>

    <link rel="shortcut icon" href="/PSMSLogo2.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/simple-grid.css" />
    <link rel="stylesheet" type="text/css" href="/DOC_Product/symptom_selector/selector.css" />
    <link rel="stylesheet" type="text/css"
        href="/DOC_Product/symptom_selector/fontawesome/assets/css/font-awesome.min.css" />
    <link href='/fullcalendar/main.css' rel='stylesheet' />
    <link href='/fullcalendar/main.min.css' rel='stylesheet' />

    <script src="/DOC_Product/libs/jquery-1.12.2.min.js"></script>
    <script src="/DOC_Product/libs/json2.js"></script>
    <script src="/DOC_Product/libs/jquery.imagemapster.min.js?v=1.1"></script>
    <script src="/DOC_Product/libs/typeahead.bundle.js"></script>
    <script src="/DOC_Product/symptom_selector/selector.js?v=3.3"></script>
    <script src="/DOC_Product/symptom_selector/symptomDOM.js"></script>
    <script src="/fullcalendar/main.js"></script>
    <script src="/fullcalendar/main.min.js"></script>
    <script src='/fullcalendar/locales-all.js'></script>
    <script src="/fullcalendar/calDOM.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="/PSMSLogo.png" alt="PSMS Logo" id="PSMSLogo">
            </div>

            <div class="col-1"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-1"></div>
            <div class="col-3">
                <form action="/" method="post">
                    <div class="dropdown">
                        <a class="btn">{{translation.LanguagePreference}}</a>
                        <div class="dropdown-content">
                            <div class="drop"><button class="dropBtn" name="prefLang" value="af" href="/?clang=af">Afrikaans</button></div>
                            <div class="drop"><button class="dropBtn" name="prefLang" value="en" href="/?clang=en">English</button></div>
                            <div class="drop"><button class="dropBtn" name="prefLang" value="xh" href="/?clang=xh">IsiXhosa</button></div>
                            <div class="drop"><button class="dropBtn" name="prefLang" value="zu" href="/?clang=zu">IsiZulu</button></div>
                            <div class="drop"><button class="dropBtn" name="prefLang" value="nso" href="/?clang=nso">Northern Sotho</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>