<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSMS</title>
    <link rel="shortcut icon" href="/PSMSLogo2.png" type="image/png">
    <link rel="stylesheet" href="/simple-grid.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6 left">
                <img src="/PSMSLogo.png" alt="PSMS Logo" width="200" height="100">
            </div>
            <div class="col-6 right">
                <h3>Language Preference:</h3>
                <ul>
                    <li><a href="/?clang=zu">IsiZulu</a></li>
                    <li><a href="/?clang=en">English</a></li>
                    <li><a href="/?clang=af">Afrikaans</a></li>
                    <li><a href="/?clang=xh">IsiXhosa</a></li>
                    <li><a href="/?clang=nso">Northern Sotho</a></li>

                
                {{!-- <select id="list">
                    <option value="en"><li><a href="/?clang=en">English</a></li></option>
                    <option value="af"><li><a href="/?clang=af">Afrikaans</a></li></option>
                    <option value="nso"><li><a href="/?clang=nso">Northern Sotho</a></li></option>
                    <option value="xh"><li><a href="/?clang=xh">IsiXhosa</a></li></option>
                    <option value="zu"><li><a href="/?clang=zu">IsiZulu</a></li></option>
                </select> --}}

                </ul>

               



            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>