<div class="row" id="mainBtn">

        <div class="col-6">
            <form action="/new_appointment" method="get">
            <button class="btn" type="submit">{{translation.NewAppointment}}</button>
            </form>
        </div>

        <div class="col-6">
            <form action="/followUp" method="get">
            <button class="btn" type="submit">{{translation.FollowUp}}</button>
            </form>
        </div>

</div>