<div class="row" id="mainBtn">

        <div class="col-6 right">
            <form action="/register" method="get">
            <button class="btn" type="submit">{{translation.New_User}}</button>
            </form>
        </div>

        <div class="col-6 left">
            <form action="/login" method="get">
            <button class="btn" type="submit">{{translation.Exisiting_User}}</button>
            </form>
        </div>

</div>