<div id="message" class="row hide">
    <div class="col-2"></div>
    <div class="col-8 center">
        <div class="message containerBox">
            <p>Patient Name: {{username}}</p>
            <p>Appointment Date: <span id="date"></span></p>
            <p>Appointment Time: <span id="time"></span></p>
            <table id="appointTable">
                <tr>
                    <td>
                        <form action="/new_appointment" method="post">
                            <button class="btn messBtn" id="appoint" name="appoint" on type="submit">Appoint</button>
                        </form>
                    </td>
                    <td>
                        <button class="btn messBtn" id="cancel" name="cancel" on type="submit">Cancel</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-12">
        <div id='calendar'></div>
    </div>
</div>