<div class="row">
    <div class="col-12">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FJohannesburg&showTitle=0&showTabs=0&showPrint=0&mode=WEEK&src=cmw2ZG5rZXBtdWczMWEybG91ZmxzYXI1Y2dAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%239E69AF" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="yes"></iframe>
    </div>
</div>