<div class="row" id="mainBtn">

        <div class="col-6">
            <form action="/appointment" method="get">
            <button class="btn" type="submit">Doctor Appointment</button>
            </form>
        </div>

        <div class="col-6">
            <form action="/medication" method="get">
            <button class="btn" type="submit">Medication</button>
            </form>
        </div>

</div>