<div class="row" id="mainBtn">

        <div class="col-6 right">
            <form action="/appointment" method="get">
            <button class="btn" type="submit">{{translation.DoctorAppointment}}</button>
            </form>
        </div>

        <div class="col-6 left">
            <form action="/medication" method="get">
            <button class="btn" type="submit">{{translation.Medication}}</button>
            </form>
        </div>

</div>